  .fade-in { animation: fadeIn 0.4s ease-out; }
        @keyframes fadeIn { from { opacity: 0; transform: translateY(15px); } to { opacity: 1; transform: translateY(0); } }
        
        ::-webkit-scrollbar { width: 8px; }
        ::-webkit-scrollbar-track { background: #f1f1f1; }
        ::-webkit-scrollbar-thumb { background: #10b981; border-radius: 10px; }
        
        .modal-scroll { max-height: 90vh; overflow-y: auto; }
        .img-mascota { object-fit: cover; width: 100%; height: 100%; border-radius: 1rem; }
        #contenedorCitas { 
            display: grid;
            grid-template-columns: 1fr; 
            gap: 1.5rem;
        }

        @media (min-width: 640px) { #contenedorCitas { grid-template-columns: repeat(2, 1fr); } }
        @media (min-width: 1024px) { #contenedorCitas { grid-template-columns: repeat(3, 1fr); } }
        @media (min-width: 1536px) { #contenedorCitas { grid-template-columns: repeat(4, 1fr); } }

        textarea { resize: none; overflow: hidden; transition: height 0.2s ease; }
        .truncate-custom { display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; word-break: break-all; }